.modale {
  /* PRENDRE TOUTE  L'ECRAN */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modale-wrapper {
  background-color: #fffef8;
  width: 630px;
  height: 688px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#croix {
  position: absolute;
  top: 50px;
  left: 570px;
  cursor: pointer;
}

#fleche {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  scale: 1.8;
}

#titreModale {
  font-family: "Work Sans";
  font-weight: 400;
  color: black;
  margin-bottom: 40px;
}

#ajouter-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 169px;
  border-radius: 3px;
  background-color: #e8f1f6;
  position: relative;
}

#ajouter-photo input {
  opacity: 0;
  width: 420px;
  height: 169px;
  z-index: 2;
}

#ajouter-photo i {
  scale: 2.8;
  position: absolute;
  top: 55px;
}

#ajouter-photo-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbd6dc;
  width: 173px;
  height: 36px;
  border-radius: 50px;
  color: #306685;
  position: absolute;
  top: 100px;
}

#ajouter-photo-JpgPng {
  color: #444444;
  position: absolute;
  top: 145px;
  font-size: 10px;
}

.gallery-container select {
  width: 420px;
  height: 51px;
  border: none;
  box-shadow: 5px 6px 12px 0px #0000000a;
  appearance: none;
  position: relative;
  max-width: 420px;
  padding-left: 20px;
  font-family: "Work Sans";
  color: #444444;
}

.select-container {
  position: relative;
}

.gallery-container .fa-chevron-down {
  position: absolute;
  top: 17px;
  right: 25px;
}

#input-titre {
  width: 420px;
  height: 51px;
  border: none;
  box-shadow: 5px 6px 12px 0px #0000000a;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: "Work Sans";
  color: #444444;
}

label {
  align-self: flex-start;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 420px;
  gap: 15px;
}

.modale-gallery figure {
  opacity: 1;
}

.modale-gallery {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.iconBackground {
  width: 20px;
  height: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 50px;
  border-radius: 2px;
  cursor: pointer;
}

.iconBackground i::before {
  width: 6px;
  height: 6px;
}

.modale-gallery figure img {
  position: relative;
}
.line {
  border: solid 1px;
  width: 420px;
  color: #1d6154;
  margin-top: 50px;
  margin-bottom: 30px;
}

.ajoutPhoto-line {
  color: #b3b3b3;
}

#ajoutPhoto-btn {
  background-color: #a7a7a7;
}

#imagePreview {
  display: block;
  height: 100%;
  position: absolute;
  width: 40%;
  object-fit: cover;
  z-index: 1;
}

button {
  all: unset;
}

.gallery-container button {
  width: 237px;
  height: 36px;
  background-color: #1d6154;
  color: white;
  text-align: center;
  border-radius: 60px;
}
