/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.logout a {
  color: inherit;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  text-decoration: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/

/* ******************** GLOBAL ******************** */

html {
  position: relative;
}

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1;
  background-color: #fffef8;
}

/* ******************** HEADER ******************** */

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.header--adminMode {
  margin: 100px 0;
}

#logo-instagram {
  width: 20px;
}

.logo-container {
  display: flex;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
  gap: 10px;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.05em;
  font-weight: 400;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 50px;
  margin-top: 10px;
}

nav a:link {
  color: inherit;
}

nav li {
  font-size: 16px;
  font-weight: 300;
}

li:hover {
  color: #b1663c;
}

/* ******************** MODE EDITION ******************** */

.modeEdition {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  width: 100%;
  height: 59px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 16px;
}

.modeEdition p {
  color: white;
}

.modeEdition i {
  width: 10px;
}

/* ******************** BOUTON MODIFIER ******************** */

.boutonModifier {
  all: unset;
  display: flex;
  gap: 10px;
  width: 84px;
  cursor: pointer;
}

.boutonModifier p,
i {
  font-size: 14px;
  color: black;
  font-family: "Work Sans";
  font-weight: 400;
}

/* ******************** SECTIONS ******************** */

section {
  margin: 100px 0 60px;
}

/* ******************** SECTION - INTRODUCTION ******************** */

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

#introduction {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 150px;
  margin-left: 60px;
  gap: 80px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 474px;
}

#introduction article {
  flex: 1;
  flex-grow: 0.8;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  padding-right: 90px;
  margin-bottom: 20px;
  line-height: 1.2;
  text-align: left;
}

.balise-cachee {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* ******************** SECTION - PORTFOLIO ******************** */

.portfolio__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.section-wrapper {
  padding: 0 7%;
}

/* ******************** FILTRES ******************** */

.filtres {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 55px 0;
}

.filtres__btn {
  padding: 10px 13px;
  border: 1px solid #1d6154;
  border-radius: 60px;
  font-family: "Syne";
  font-size: 16px;
  color: #1d6154;
  transition: all 0.2s;
}

.filtres__btn:hover {
  background-color: #1d6154;
  color: white;
  cursor: pointer;
}

.filtres__btn--tous {
  width: 70px;
  text-align: center;
}

.clickedButton {
  background-color: #1d6154;
  color: white;
}

.filtres__btn--objets {
  width: 75px;
  text-align: center;
}

/* ******************** GALERIE ******************** */

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  object-fit: cover;
  min-width: 100%;
  height: 407px;
}

/* ******************** ANIMATION DE LA GALERIE ******************** */

.gallery figure {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.gallery figure.visible {
  opacity: 1;
  transform: translateY(0);
}

figcaption {
  margin-top: 10px;
  color: #3d3d3d;
  font-size: 13px;
}

/* ******************** SECTION - CONTACT ******************** */

#contact {
  width: 379px;
  margin: auto;
}

#contact p {
  font-size: 16px;
  color: #3d3d3d;
}

#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 51px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 174px;
  resize: none;
  padding: 20px;
  box-sizing: border-box;
}

#contact input[type="submit"] {
  height: 36px;
  cursor: pointer;
  transition: all 0.2s;
}

#contact input[type="submit"]:hover {
  background-color: #123f37;
}

/* ******************** FOOTER ******************** */

footer {
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  height: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
  margin-right: 100px;
}

.mentions-legales {
  font-size: 14px;
}

.mentions-legales:hover {
  color: black;
}

/* ******************** AUTRES ******************** */

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

/* ******************** DEBUT DE RESPONSIVE A TRAVAILLER SI BESOIN ******************** */
/* @media (max-width: 1024px) {
  header {
    justify-content: space-evenly;
  }
  #introduction {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }

  #introduction img {
    width: 400px;
    height: 350px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #introduction {
    flex-direction: column;
  }

  .article p {
    text-align: center;
    padding-right: 0;
  }

  #introduction h2 {
    text-align: center;
  }

  .article-wrapper {
    max-width: 400px;
  }

  .header--adminMode {
    margin: 100px 0 0 20px;
  }

  section {
    margin: 20px 0 60px;
  }
} */
